<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wServiceSoap" />
                <binding name="TransactionDataServiceSoapBinding">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TransactionDataServiceSoapBinding1" />
                <binding name="PlateInfoServiceSoapBinding">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="PlateInfoServiceSoapBinding1" />
                <binding name="StallInfoServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="StallInfoServiceSoapBinding1" />
                <binding name="OutgoingSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://pango.mypango.com/EnforcementSVC/wservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="wServiceSoap"
                contract="PangoProdService.wServiceSoap" name="wServiceSoap" />
            <endpoint address="http://pango.mypango.com/EnforcementSVC/wservice.asmx"
                binding="customBinding" bindingConfiguration="wServiceSoap12"
                contract="PangoProdService.wServiceSoap" name="wServiceSoap12" />
            <endpoint address="https://iris.digitalpaytech.com/services/TransactionDataService"
                binding="basicHttpBinding" bindingConfiguration="TransactionDataServiceSoapBinding"
                contract="TransactionDataService.TransactionDataService" name="TransactionDataServiceImplPort" />
            <endpoint address="https://iris.digitalpaytech.com/services/PlateInfoService"
                binding="basicHttpBinding" bindingConfiguration="PlateInfoServiceSoapBinding"
                contract="PlateInfoService.PlateInfoService" name="PlateInfohttpPort" />
            <endpoint address="https://iris.digitalpaytech.com/services/StallInfoService"
                binding="basicHttpBinding" bindingConfiguration="StallInfoServiceSoapBinding"
                contract="StallInfoService.StallInfoService" name="StallInfoServiceImplPort" />
            <endpoint address="http://idex.mi-office.com/Mi-Xchange/service/soap/v2018.2/outgoing.asmx"
                binding="basicHttpBinding" bindingConfiguration="OutgoingSoap"
                contract="MiExchangeService.OutgoingSoap" name="OutgoingSoap" />
          <!--<endpoint address="http://37.216.215.162:42010/mi-xchange/service/soap/v2018.2/outgoing.asmx"
                 binding="basicHttpBinding" bindingConfiguration="OutgoingSoap"
                 contract="MiExchangeService.OutgoingSoap" name="OutgoingSoap" />-->
        </client>
    </system.serviceModel>
</configuration>